{% extends "base.html" %}
{% load static %}
{% block content %}


<!-- 로그인하지 않았을 때 나타나는 alert 창 -->
{% if messages %}
{% for message in messages %}
{% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
{% endfor %}
{% endif %}

<!-- Start Contact -->
<div class="container py-5">
    <h1 class="navbar-brand text-success logo h1 align-self-center" style="text-align: center;">Forest Furniture Shop</h1>
    <h2 class="navbar-brand text-success logo h2 align-self-center" style="text-align: center;"><b>로그인</b></h2>
    <div class="row py-5">
        <form class="col-md-9 m-auto" method="post" action="{% url 'login' %}"> {% csrf_token %}
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="inputemail">Email</label>
                    <input type="email" class="form-control mt-1" id="email" name="email" placeholder="Email">
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="input">Password</label>
                    <input type="password" class="form-control mt-1" id="pw" name="pw" placeholder="Password">
                </div>
            </div>
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            <div class="row">
                <div class="col text-end mt-2">
                    <button type="submit" class="btn btn-success btn-lg px-3">로그인</button>
                    <a href="{% url 'signUp' %}" class="btn btn-success btn-lg px-3">회원가입</a>
                </div>
                
            </div>
        </form>
    </div>
</div>
<!-- End Contact -->

{% endblock content %}