{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Open Content -->
<!-- 로그인하지 않고 장바구니에 담았을 때 나타나는 alert 창 -->
{% if messages %}
{% for message in messages %}
{% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
{% endfor %}
{% endif %}

<section class="bg-light">
    <div class="container pb-5">
        <div class="row">
            <div class="col-lg-5 mt-5">
                <div class="card mb-3">
                    <img class="card-img img-fluid" src="{{ product.thumbnail }}" alt="Card image cap"
                        id="product-detail">
                </div>
            </div>
            <!-- col end -->
            <div class="col-lg-7 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h1 class="h2">{{ product.name }}</h1>
                        <p class="h3 py-2">₩ {{ product.price }}</p>

                        <h6>Description:</h6>
                        <p>{{ product.description }}</p>

                        <!-- Start 장바구니 추가 버튼 -->
                        <form action="{% url 'addToBasket' %}" method="POST"> {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <div class="row">
                                <div class="col-auto">
                                    <ul class="list-inline pb-3">
                                        <li class="list-inline-item text-right">
                                            수량
                                        </li>
                                        <li class="list-inline-item">
                                            <input type="text" class="form-control mt-1" id="product_quantity" name="product_quantity" placeholder="1">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row pb-3">
                                <div class="col d-grid">
                                    <button type="submit" class="btn btn-success btn-lg" name="submit"
                                        value="addToCart">Add To Cart</button>
                                </div>
                            </div>
                        </form>
                        <!-- End 장바구니 추가 버튼 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Close Content -->

{% endblock content %}