{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- 로그인하지 않았을 때 나타나는 alert 창 -->
{% if messages %}
{% for message in messages %}
{% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
{% endfor %}
{% endif %}

    <!-- Start Content -->
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-3">
                <h1 class="h2 pb-4">Categories</h1>
                <ul class="list-unstyled templatemo-accordion">
                    <li class="nav-item"><a class="nav-link" href="{% url 'shop' %}all">All</a></li>
                    <li><a class="nav-link" href="{% url 'shop' %}chair">Chair</a></li>
                    <li><a class="nav-link" href="{% url 'shop' %}sofa">Sofa</a></li>
                    <li><a class="nav-link" href="{% url 'shop' %}table">Table</a></li>
                    <li><a class="nav-link" href="{% url 'shop' %}carpet">Carpet</a></li>
                </ul>
            </div>
            <div class="col-lg-9">
                <h1 class="h2 pb-4">{{ category }}</h1>
                <div class="row">
                    {% for product in productList %}
                    <div class="col-md-4">
                        <div class="card mb-4 product-wap rounded-0">
                            <div class="card rounded-0">
                                <img class="card-img rounded-0 img-fluid" src="{{ product.thumbnail }}">
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="{% url 'shopDetail'%}?product_id={{ product.id }}" class="h3 text-decoration-none">{{ product.name }}</a>
                                <p class="text-center mb-0">₩ {{ product.price }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- End Content -->
{% endblock content %}