{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Start Content -->
<div class="container py-5">
    <div class="row">
        <!-- 장바구니 목록 -->
        <div class="col-lg-9-basket">
            <div class="row">
                <!-- 장바구니 목록(각각) -->
                {% for product in productList %}
                <div class="col-md-4">
                    <div class="card mb-4 product-wap rounded-0">
                        <div class="card rounded-0">
                            <img class="card-img rounded-0 img-fluid"
                                src="{{ product.thumbnail }}">
                            <div
                                class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                <form action="{% url 'deleteItem' %}" method="POST"> {% csrf_token %}
                                    <input type="hidden" name="curProduct" value="{{ product.pk }}">
                                    <div class="row pb-3">
                                        <div class="col d-grid">
                                            <button type="submit" class="btn btn-success btn-lg" name="submit"
                                                value="deleteItem">Delete</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card-body">
                            <a href="{% url 'shopDetail'%}?product_id={{ product.id }}" class="h3 text-decoration-none">{{ product.name }}</a>
                            <p class="text-center mb-0">{{ product.price }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- End 장바구니 목록-->
        <!-- Start Delete All Btn -->
        <div>
            <form action="{% url 'deleteAllBasket' %}" method="POST"> {% csrf_token %}
                <div class="row pb-3">
                    <div class="col d-grid">
                        <button type="submit" class="btn btn-success btn-lg" name="submit" value="deleteAll">Delete
                            All</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- End Delete All Btn -->
    </div>
</div>
<!-- End Content -->
{% endblock content %}