{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Start Contact -->
<div class="container py-5">
    <h1 class="navbar-brand text-success logo h1 align-self-center" style="text-align: center;">Forest Furniture Shop</h1>
    <h2 class="navbar-brand text-success logo h2 align-self-center" style="text-align: center;"><b>회원가입</b></h2>
    <div class="row py-5">
        <form class="col-md-9 m-auto" method="POST" action="{% url 'signUp' %}"> {% csrf_token %}
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="inputemail">Email</label>
                    <input type="email" class="form-control mt-1" id="email" name="email" placeholder="Email">
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="input">Password</label>
                    <input type="text" class="form-control mt-1" id="password" name="password" placeholder="password">
                </div>
            </div>
            <div class="mb-3">
                <label for="input">Name</label>
                <input type="text" class="form-control mt-1" id="name" name="name" placeholder="Name">
            </div>
            <div class="mb-3">
                <label for="input">Address</label>
                <textarea class="form-control mt-1" id="address" name="address" placeholder="Address"
                    rows="8"></textarea>
            </div>
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            <div class="row">
                <div class="col text-end mt-2">
                    <button type="submit" class="btn btn-success btn-lg px-3">회원가입</button>
                </div>
                
            </div>
        </form>
    </div>
</div>
<!-- End Contact -->

{% endblock content %}